.main {
  background: rgb(10, 25, 47);
  margin: 15px;

  @media screen and (min-width: 768px) {
    margin: 50px 15px 15px 15px;
  }

  @media screen and (min-width: 1400px) {
    &::before {
      content:"";
      position: fixed;
      top: 10px;
      bottom: 10px;
      right: 40px;
      width: 1px;
      background-color: rgba(100, 255, 218, 0.3);
    
    } 
  }
  
  // MAIN SECTION
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 3em auto 5em auto;
    
    
    @media only screen and (min-width: 600px)  {
      flex-direction: row;
      margin: 4em auto 10em auto;
    }

    @media only screen and (min-width: 768px)  {
      flex-direction: row;
      margin: 9em auto 12em auto;
    }

    @media only screen and (min-width: 992px)  {
      flex-direction: row;
      margin: 11em auto 12em auto;
    }



    &__animated-image {
      width: 60%;
      max-width: 250px;
      max-height: 250px;
      display: block;
      position: relative;
      margin: 0 auto;
      animation: imganimation 1.4s infinite alternate-reverse linear;

      @media only screen and (min-width: 600px)  {
        width: 40%;
        margin: auto 0;
        animation: imganimation-tb 1.4s infinite alternate-reverse linear;

        @keyframes imganimation-tb {
          from {
            top: -15px;
          }
          
          to {
            top: 15px;
          }
        }
      }

      @media only screen and (min-width: 768px)  {
        max-width: 300px;
        max-height: 300px;
      }


      @media only screen and (min-width: 992px)  {
        max-width: 350px;
        max-height: 350px;
      }

      @media only screen and (min-width: 1200px)  {
        max-width: 450px;
        max-height: 450px;
      }


     
      // IMAGE ANIMATION
      @keyframes imganimation {
        from {
          right: -15px;
        }
        
        to {
          right: 15px;
        }
      }
     
    }

    &__title {
      font: {
        family: Anton, serif;
        weight: 500;
        size: 2.4rem;
      }
      color: rgb(100, 255, 218);
      text-align: center;
      height: 100px;
      max-width: 280px;
      margin: 0em auto;


      @media only screen and (min-width: 600px)  {
        font-size: 2.6rem;
        line-height: 2;
     

      }

      @media only screen and (min-width: 768px)  {
        font-size: 2.8rem;
        line-height: 2;

      }

    
      &::after {
        content: "|";
        animation: blinks 0.7s infinite;
      }
    
      // MAIN TITLE ANIMATION
      @keyframes blinks {
        0%, 100% {
          opacity: 1;
        }
      
        50% {
          opacity: 0;
        }
      }
    }

    &__text {
      font: {
        family: "Roboto Mono", serif;
        size: 1.1rem;
      }
      line-height: 1.4;
      text-align: justify;
      color: rgba(204, 214, 246, 0.8);
      margin: 3.5em auto;
      max-width: 380px;

      @media only screen and (min-width: 600px)  {
        margin: 6em 2em 0em 2em;
        font-size: 1.3rem;
        line-height: 1.8;
      }

      @media only screen and (min-width: 768px)  {
        line-height: 2;
    
      }

      @media only screen and (min-width: 992px)  {
        font-size: 1.6rem;
      
      }

      @media only screen and (min-width: 1200px)  {
        font-size: 1.8rem;
      
      }

    }

    // ABOUT SECTION
    &__about {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 1200px;
      margin: 0 auto;
      

      &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 3em 0;

        @media screen and (min-width: 600px) {
          margin: 5em 1em;
          
        }

        @media screen and (min-width: 768px) {
          display: flex;
          flex-direction: row;
          
        }

        @media screen and (min-width: 992px) {
          margin: 8em 1em;
          
        }
      }

      &__description-container {

        @media screen and (min-width: 768px) {
          width: 48%;
          
        }
      }

      &__title {
        font: {
          family: Anton, serif;
          weight: 500;
          size: 2rem;
        }
        color: rgb(100, 255, 218);
        // LINE SETTING
        display: flex;
        white-space: nowrap;
        align-items: center;

        @media only screen and (min-width: 600px)  {
          font-size: 2.2rem;
        }

        @media only screen and (min-width: 768px)  {
          font-size: 2.4rem;
        }

        @media only screen and (min-width: 992px)  {
          font-size: 2.6rem;
        }

        @media screen and (min-width: 1200px) {
          font-size: 2.8rem;
          
        }

        &::after {
          content: "";
          display: block;
          position: relative;
          width: 100%;
          height: 2px;
          left: 10px;
          background-color: rgba(100, 255, 218, 0.3);
        }
      }

      &__text {
        font-family: "Roboto Mono", serif;
        font-size: .9rem;
        line-height: 1.5;
        text-align: justify;
        color: rgba(204, 214, 246, 0.8);
        margin: 0 auto 3em auto;
        
        @media only screen and (min-width: 600px)  {
          font-size: 1rem;
         
        }

        @media only screen and (min-width: 992px)  {
          font-size: 1.2rem;
      
        }

        @media screen and (min-width: 1200px) {
          font-size: 1.4rem;
          
        }
      }

      &__item {
        font-family: "Roboto Mono", serif;
        font-size: .8rem;
        line-height: 1.6;
        color: rgba(204, 214, 246, 0.8);

        @media only screen and (min-width: 600px)  {
          font-size: .9rem;
        }

        @media only screen and (min-width: 992px)  {
          font-size: 1rem;
        }

        @media only screen and (min-width: 1200px)  {
          font-size: 1.2rem;
        }
        
      }
    
    &__image {
      width: 90%;
      max-width: 400px;
      height: 300px;
      object-fit: cover;
      border-radius: 4px;
      margin: 3em auto 0 auto;
      

      @media only screen and (min-width: 600px)  {
        max-width: 450px;
        height: 350px;
       
      }

      @media only screen and (min-width: 768px)  {
        max-width: 350px;
        margin: 0 auto;
      
      }

      @media only screen and (min-width: 992px)  {
        max-width: 400px;
       
      }

      @media only screen and (min-width: 1200px)  {
        max-width: 500px;
        height: 500px;
       
      }


      &-container {
        display: flex;

        @media only screen and (min-width: 768px)  {
          width: 48%;
   
        
        }
      }
    }
  }

    // WORKSPACE SECTION
    &__workspace {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 1200px;
      margin: 0 auto;
      

      &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 3em 0;
        

        @media screen and (min-width: 600px) {
          margin: 5em 1em;
          
        }

        @media screen and (min-width: 768px) {
          display: flex;
          flex-direction: row;
          
        }

        @media screen and (min-width: 992px) {
          margin: 8em 1em;
          
        }
      }
      
      &__description-container {

        @media screen and (min-width: 768px) {
          width: 48%;
          
          
        }
      }

      &__title {
        font: {
          family: Anton, serif;
          weight: 500;
          size: 2rem;
        }
        color: rgb(100, 255, 218);
        // LINE SETTING
        display: flex;
        white-space: nowrap;
        align-items: center;

        @media only screen and (min-width: 600px)  {
          font-size: 2.2rem;
        }

        @media only screen and (min-width: 768px)  {
          font-size: 2.4rem;
        }

        @media only screen and (min-width: 992px)  {
          font-size: 2.6rem;
        }

        @media screen and (min-width: 1200px) {
          font-size: 2.8rem;
          
        }
        

        &::after {
          content: "";
          display: block;
          position: relative;
          width: 100%;
          height: 2px;
          left: 10px;
          background-color: rgba(100, 255, 218, 0.3);
        }
      }

      &__text {
        font-family: "Roboto Mono", serif;
        font-size: .9rem;
        line-height: 1.5;
        text-align: justify;
        color: rgba(204, 214, 246, 0.8);
        margin: 0 auto 3em auto;

        @media only screen and (min-width: 600px)  {
          font-size: 1rem;
       
        }

        @media only screen and (min-width: 992px)  {
          font-size: 1.2rem;
      
        }

        @media screen and (min-width: 1200px) {
          font-size: 1.4rem;
          
        }
      }

      &__item {
        font-family: "Roboto Mono", serif;
        font-size: .8rem;
        line-height: 1.6;
        color: rgba(204, 214, 246, 0.8);

         @media only screen and (min-width: 600px)  {
          font-size: .9rem;
        }

          @media only screen and (min-width: 992px)  {
          font-size: 1rem;
        }

          @media only screen and (min-width: 1200px)  {
            font-size: 1.2rem;
        }
         
      }
      

      &__image {
        width: 90%;
        max-width: 400px;
        height: 300px;
        object-fit: cover;
        border-radius: 4px;
        margin: 3em auto 0 auto;
        
      
        @media only screen and (min-width: 600px)  {
          max-width:450px;
          height: 350px;
        }

        @media only screen and (min-width: 768px)  {
          max-width: 350px;
          margin: 0 auto;
        
        }

        @media only screen and (min-width: 992px)  {
          max-width: 400px;
       
        }

        
      @media only screen and (min-width: 1200px)  {
        max-width: 500px;
        height: 500px;
       
      }

        &-container {
          display: flex;
  
          @media only screen and (min-width: 768px)  {
            width: 48%;
            
          
          }
        }
      }
    }

    // SKILLS SECTION
    &__skills {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 1200px;
      margin: 0 auto;

      &__title {
        font: {
          family: Anton, serif;
          weight: 500;
          size: 2rem;
        }
        color: rgb(100, 255, 218);
        // LINE SETTING
        display: flex;
        white-space: nowrap;
        align-items: center;

        @media only screen and (min-width: 600px)  {
          font-size: 2.2rem;
        }

        @media only screen and (min-width: 768px)  {
          font-size: 2.4rem;
        }

        @media only screen and (min-width: 992px)  {
          font-size: 2.6rem;
        }

        @media screen and (min-width: 1200px) {
          font-size: 2.8rem;
          
        }

        &::after {
          content: "";
          display: block;
          position: relative;
          width: 100%;
          height: 2px;
          left: 10px;
          background-color: rgba(100, 255, 218, 0.3);
        }

        
      }

      &-container {
        margin: 3em 0;

        @media only screen and (min-width: 600px)  {
          margin: 5em 1em;
        }

        @media only screen and (min-width: 768px)  {
          display: flex; 
        }

        @media screen and (min-width: 992px) {
          margin: 8em 1em;
          
        }
      }

      &__logo-container {
        display: grid;
        grid-template-columns: repeat(2, 50%); 
        justify-items: center;
        align-items: center;
        row-gap: 3em;
        max-width: 500px;
        margin: 0 auto;
        

        @media only screen and (min-width: 768px)  {
          grid-template-columns: repeat(2, auto); 
          width: 48%;
          order: 2;
         
        }
        
      }

      &__logo {
        width: 45%;
        max-width: 90px;

        
      @media only screen and (min-width: 1200px)  {
        max-width: 115px;
       
      }

        &:hover {
          filter: grayscale(30%);
          transform: scale(105%);
          transition: 0.5s;
          cursor: pointer;
        }
      }

      &__text {
        font-family: "Roboto Mono", serif;
        font-size: 0.8em;
        line-height: 1.5;
        text-align: center;
        color: rgba(204, 214, 246, 0.8);
        margin: 7em auto 3em auto;
        min-height: 150px;
      
       
        @media only screen and (min-width: 600px)  {
            font-size: 1rem;
            margin: 5em 2em 3em 2em;
        }

        @media only screen and (min-width: 768px)  {
          font-size: 1rem;
          margin: 0;
          min-height: 0;
        
        }

        @media only screen and (min-width: 992px)  {
          font-size: 1.2rem;
      
        }

        @media screen and (min-width: 1200px) {
          font-size: 1.4rem;
          
        }

        &-container {
          text-align: center;

          @media only screen and (min-width: 768px)  {
          margin: auto;
          width: 48%;
          order: 1;
        
          }
        }
      }     
    }

    // PROJECTS SECTION
    &__projects {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 1200px;
      margin: 0 auto;

      &__title {
        font: {
          family: Anton, serif;
          weight: 500;
          size: 2rem;
        }
        color: rgb(100, 255, 218);
        // LINE SETTING
        display: flex;
        white-space: nowrap;
        align-items: center;

        
        @media only screen and (min-width: 600px)  {
          font-size: 2.2rem;
        }

        @media only screen and (min-width: 768px)  {
          font-size: 2.4rem;
        }

        @media only screen and (min-width: 992px)  {
          font-size: 2.6rem;
        }

        @media screen and (min-width: 1200px) {
          font-size: 2.8rem;
          
        }
        
        &::after {
          content: "";
          display: block;
          position: relative;
          width: 100%;
          height: 2px;
          left: 10px;
          background-color: rgba(100, 255, 218, 0.3);
        }
      }

      
      &-container {
        margin: 3em 0;

        @media only screen and (min-width: 600px)  {
          margin: 5em 1em;
        }

        @media only screen and (min-width: 768px)  {
          display: flex; 
          
        }

        @media screen and (min-width: 992px) {
          margin: 8em 1em;
          
        }
      }

      &__logo-container {
        margin: 3em auto;

        @media only screen and (min-width: 768px)  {
          grid-template-columns: repeat(2, auto); 
          width: 48%;
          order: 2;
         
        }
      }

      &__link {
        cursor: pointer;
        display: flex; 
        justify-content: center;
      }


  
      &__logo {
        width: 85%;
        max-width: 150px;

        @media only screen and (min-width: 1200px)  {
          max-width: 180px;
         
        }
  
     

        &:hover {
          filter: grayscale(30%);
          transform: scale(107%);
          transition: 0.5s;
          cursor: pointer; 
        }
      }

   
      &__text {
        font-family: "Roboto Mono", serif;
        font-size: 0.8em;
        line-height: 1.5;
        text-align: center;
        color: rgba(204, 214, 246, 0.8);
        margin: 7em auto 3em auto;
     
        @media only screen and (min-width: 600px)  {
          font-size: 1rem;
          margin: 5em 2em 3em 2em;
        }

        @media only screen and (min-width: 768px)  {
          font-size: 1rem;
          margin: auto;   
        
        }

        @media only screen and (min-width: 992px)  {
          font-size: 1.2rem;
      
        }

        @media screen and (min-width: 1200px) {
          font-size: 1.4rem;
          
        }


        &-container {

          @media only screen and (min-width: 768px)  {
          margin: auto;
          width: 48%;
          order: 1;
       
        
          }
        }        
      }
    }
  }
}

.bold {
  font-weight: 700;
  color:rgba(100, 255, 218, 0.8);
}

.hide {
  visibility: none;
}

.skill__description__text {
  display: block;
  margin-top: 5%;
  font-weight: 700;
  text-decoration: underline;
}
