@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: 0;
  list-style: none;
  scroll-behavior: smooth;
  font-size: 100%;
}

*::after,
*::before {
  box-sizing: border-box;
}

.body__background__color {
  background-color: rgb(10, 25, 47);
}

@media screen and (min-width: 1400px) {
  .header::after {
    content: "";
    position: fixed;
    top: 10px;
    bottom: 10px;
    left: 40px;
    width: 1px;
    background-color: rgba(100, 255, 218, 0.3);
  }
}
.header__menu__btn {
  position: fixed;
  z-index: 100;
  top: 10px;
  right: 15px;
  padding: 0.4em;
  background-color: rgba(33, 54, 85, 0.6);
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header__menu__btn {
    display: none;
  }
}
.header__menu__btn__open-icon {
  width: 25px;
}
.header__menu__btn__close-icon {
  display: none;
  width: 25px;
}
.header__content {
  position: fixed;
  transform: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(10, 25, 47, 0.7);
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .header__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 25, 47, 0.7);
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
  }
}
.header__content__logo {
  width: 60%;
  max-width: 200px;
  margin: 3.5em 0;
}
@media screen and (min-width: 768px) {
  .header__content__logo {
    margin: 1em;
    max-width: 150px;
  }
}
@media screen and (min-width: 992px) {
  .header__content__logo {
    margin: 1em;
    max-width: 180px;
  }
}
.header__content__menu {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header__content__menu {
    flex-direction: row;
  }
}
.header__content__menu__link {
  font-size: 1.2rem;
  font-family: "Roboto Mono", serif;
  margin: 1em;
  background-image: linear-gradient(to right, rgb(100, 255, 218), rgb(204, 214, 246));
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .header__content__menu__link {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 992px) {
  .header__content__menu__link {
    font-size: 1rem;
  }
}
.header__content__menu__link:before {
  content: "";
  background: rgb(100, 255, 218);
  display: block;
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 0;
  height: 2%;
  transition: all 0.3s ease-in-out;
}
.header__content__menu__link:hover {
  background-position: 0;
}
.header__content__menu__link:hover::before {
  width: 100%;
}

.show-menu {
  transform: translateY(0);
}

.main {
  background: rgb(10, 25, 47);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .main {
    margin: 50px 15px 15px 15px;
  }
}
@media screen and (min-width: 1400px) {
  .main::before {
    content: "";
    position: fixed;
    top: 10px;
    bottom: 10px;
    right: 40px;
    width: 1px;
    background-color: rgba(100, 255, 218, 0.3);
  }
}
.main__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 3em auto 5em auto;
}
@media only screen and (min-width: 600px) {
  .main__content {
    flex-direction: row;
    margin: 4em auto 10em auto;
  }
}
@media only screen and (min-width: 768px) {
  .main__content {
    flex-direction: row;
    margin: 9em auto 12em auto;
  }
}
@media only screen and (min-width: 992px) {
  .main__content {
    flex-direction: row;
  }
}
.main__content__animated-image {
  width: 60%;
  max-width: 250px;
  max-height: 250px;
  display: block;
  position: relative;
  margin: 0 auto;
  animation: imganimation 1.4s infinite alternate-reverse linear;
}
@media only screen and (min-width: 600px) {
  .main__content__animated-image {
    width: 40%;
    margin: auto 0;
    animation: imganimation-tb 1.4s infinite alternate-reverse linear;
  }
  @keyframes imganimation-tb {
    from {
      top: -15px;
    }
    to {
      top: 15px;
    }
  }
}
@media only screen and (min-width: 768px) {
  .main__content__animated-image {
    max-width: 300px;
    max-height: 300px;
  }
}
@media only screen and (min-width: 992px) {
  .main__content__animated-image {
    max-width: 350px;
    max-height: 350px;
  }
}
@media only screen and (min-width: 1200px) {
  .main__content__animated-image {
    max-width: 400px;
    max-height: 400px;
  }
}
@keyframes imganimation {
  from {
    right: -15px;
  }
  to {
    right: 15px;
  }
}
.main__content__title {
  font-family: Anton, serif;
  font-weight: 500;
  font-size: 2.4rem;
  color: rgb(100, 255, 218);
  text-align: center;
  height: 100px;
  max-width: 280px;
  margin: 0em auto;
}
@media only screen and (min-width: 600px) {
  .main__content__title {
    font-size: 2.6rem;
    line-height: 2;
  }
}
@media only screen and (min-width: 768px) {
  .main__content__title {
    font-size: 2.8rem;
    line-height: 2;
  }
}
.main__content__title::after {
  content: "|";
  animation: blinks 0.7s infinite;
}
@keyframes blinks {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.main__content__text {
  font-family: "Roboto Mono", serif;
  font-size: 1.1rem;
  line-height: 1.4;
  text-align: justify;
  color: rgba(204, 214, 246, 0.8);
  margin: 3.5em auto;
  max-width: 380px;
}
@media only screen and (min-width: 600px) {
  .main__content__text {
    margin: 6em 2em 0em 2em;
    font-size: 1.3rem;
    line-height: 1.8;
  }
}
@media only screen and (min-width: 768px) {
  .main__content__text {
    line-height: 2;
  }
}
@media only screen and (min-width: 992px) {
  .main__content__text {
    font-size: 1.4rem;
  }
}
.main__content__about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
}
.main__content__about__description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3em 0;
}
@media screen and (min-width: 600px) {
  .main__content__about__description {
    margin: 5em 1em;
  }
}
@media screen and (min-width: 768px) {
  .main__content__about__description {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .main__content__about__description {
    margin: 8em 1em;
  }
}
@media screen and (min-width: 768px) {
  .main__content__about__description-container {
    width: 48%;
  }
}
.main__content__about__title {
  font-family: Anton, serif;
  font-weight: 500;
  font-size: 2rem;
  color: rgb(100, 255, 218);
  display: flex;
  white-space: nowrap;
  align-items: center;
}
@media only screen and (min-width: 600px) {
  .main__content__about__title {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .main__content__about__title {
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 992px) {
  .main__content__about__title {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .main__content__about__title {
    font-size: 2.8rem;
  }
}
.main__content__about__title::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  left: 10px;
  background-color: rgba(100, 255, 218, 0.3);
}
.main__content__about__text {
  font-family: "Roboto Mono", serif;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: justify;
  color: rgba(204, 214, 246, 0.8);
  margin: 0 auto 3em auto;
}
@media only screen and (min-width: 600px) {
  .main__content__about__text {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .main__content__about__text {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .main__content__about__text {
    font-size: 1.4rem;
  }
}
.main__content__about__item {
  font-family: "Roboto Mono", serif;
  font-size: 0.8rem;
  line-height: 1.6;
  color: rgba(204, 214, 246, 0.8);
}
@media only screen and (min-width: 600px) {
  .main__content__about__item {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 992px) {
  .main__content__about__item {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .main__content__about__item {
    font-size: 1.2rem;
  }
}
.main__content__about__image {
  width: 90%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
  margin: 3em auto 0 auto;
}
@media only screen and (min-width: 600px) {
  .main__content__about__image {
    max-width: 450px;
    height: 350px;
  }
}
@media only screen and (min-width: 768px) {
  .main__content__about__image {
    max-width: 350px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 992px) {
  .main__content__about__image {
    max-width: 400px;
  }
}
@media only screen and (min-width: 1200px) {
  .main__content__about__image {
    max-width: 500px;
    height: 500px;
  }
}
.main__content__about__image-container {
  display: flex;
}
@media only screen and (min-width: 768px) {
  .main__content__about__image-container {
    width: 48%;
  }
}
.main__content__workspace {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
}
.main__content__workspace__description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3em 0;
}
@media screen and (min-width: 600px) {
  .main__content__workspace__description {
    margin: 5em 1em;
  }
}
@media screen and (min-width: 768px) {
  .main__content__workspace__description {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .main__content__workspace__description {
    margin: 8em 1em;
  }
}
@media screen and (min-width: 768px) {
  .main__content__workspace__description-container {
    width: 48%;
  }
}
.main__content__workspace__title {
  font-family: Anton, serif;
  font-weight: 500;
  font-size: 2rem;
  color: rgb(100, 255, 218);
  display: flex;
  white-space: nowrap;
  align-items: center;
}
@media only screen and (min-width: 600px) {
  .main__content__workspace__title {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .main__content__workspace__title {
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 992px) {
  .main__content__workspace__title {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .main__content__workspace__title {
    font-size: 2.8rem;
  }
}
.main__content__workspace__title::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  left: 10px;
  background-color: rgba(100, 255, 218, 0.3);
}
.main__content__workspace__text {
  font-family: "Roboto Mono", serif;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: justify;
  color: rgba(204, 214, 246, 0.8);
  margin: 0 auto 3em auto;
}
@media only screen and (min-width: 600px) {
  .main__content__workspace__text {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .main__content__workspace__text {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .main__content__workspace__text {
    font-size: 1.4rem;
  }
}
.main__content__workspace__item {
  font-family: "Roboto Mono", serif;
  font-size: 0.8rem;
  line-height: 1.6;
  color: rgba(204, 214, 246, 0.8);
}
@media only screen and (min-width: 600px) {
  .main__content__workspace__item {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 992px) {
  .main__content__workspace__item {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .main__content__workspace__item {
    font-size: 1.2rem;
  }
}
.main__content__workspace__image {
  width: 90%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
  margin: 3em auto 0 auto;
}
@media only screen and (min-width: 600px) {
  .main__content__workspace__image {
    max-width: 450px;
    height: 350px;
  }
}
@media only screen and (min-width: 768px) {
  .main__content__workspace__image {
    max-width: 350px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 992px) {
  .main__content__workspace__image {
    max-width: 400px;
  }
}
@media only screen and (min-width: 1200px) {
  .main__content__workspace__image {
    max-width: 500px;
    height: 500px;
  }
}
.main__content__workspace__image-container {
  display: flex;
}
@media only screen and (min-width: 768px) {
  .main__content__workspace__image-container {
    width: 48%;
  }
}
.main__content__skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
}
.main__content__skills__title {
  font-family: Anton, serif;
  font-weight: 500;
  font-size: 2rem;
  color: rgb(100, 255, 218);
  display: flex;
  white-space: nowrap;
  align-items: center;
}
@media only screen and (min-width: 600px) {
  .main__content__skills__title {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .main__content__skills__title {
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 992px) {
  .main__content__skills__title {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .main__content__skills__title {
    font-size: 2.8rem;
  }
}
.main__content__skills__title::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  left: 10px;
  background-color: rgba(100, 255, 218, 0.3);
}
.main__content__skills-container {
  margin: 3em 0;
}
@media only screen and (min-width: 600px) {
  .main__content__skills-container {
    margin: 5em 1em;
  }
}
@media only screen and (min-width: 768px) {
  .main__content__skills-container {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .main__content__skills-container {
    margin: 8em 1em;
  }
}
.main__content__skills__logo-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-items: center;
  align-items: center;
  row-gap: 3em;
  max-width: 500px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .main__content__skills__logo-container {
    grid-template-columns: repeat(2, auto);
    width: 48%;
    order: 2;
  }
}
.main__content__skills__logo {
  width: 45%;
  max-width: 90px;
}
@media only screen and (min-width: 1200px) {
  .main__content__skills__logo {
    max-width: 115px;
  }
}
.main__content__skills__logo:hover {
  filter: grayscale(30%);
  transform: scale(105%);
  transition: 0.5s;
  cursor: pointer;
}
.main__content__skills__text {
  font-family: "Roboto Mono", serif;
  font-size: 0.8em;
  line-height: 1.5;
  text-align: center;
  color: rgba(204, 214, 246, 0.8);
  margin: 7em auto 3em auto;
  min-height: 150px;
}
@media only screen and (min-width: 600px) {
  .main__content__skills__text {
    font-size: 1rem;
    margin: 5em 2em 3em 2em;
  }
}
@media only screen and (min-width: 768px) {
  .main__content__skills__text {
    font-size: 1rem;
    margin: 0;
    min-height: 0;
  }
}
@media only screen and (min-width: 992px) {
  .main__content__skills__text {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .main__content__skills__text {
    font-size: 1.4rem;
  }
}
.main__content__skills__text-container {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .main__content__skills__text-container {
    margin: auto;
    width: 48%;
    order: 1;
  }
}
.main__content__projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
}
.main__content__projects__title {
  font-family: Anton, serif;
  font-weight: 500;
  font-size: 2rem;
  color: rgb(100, 255, 218);
  display: flex;
  white-space: nowrap;
  align-items: center;
}
@media only screen and (min-width: 600px) {
  .main__content__projects__title {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .main__content__projects__title {
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 992px) {
  .main__content__projects__title {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .main__content__projects__title {
    font-size: 2.8rem;
  }
}
.main__content__projects__title::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  left: 10px;
  background-color: rgba(100, 255, 218, 0.3);
}
.main__content__projects-container {
  margin: 3em 0;
}
@media only screen and (min-width: 600px) {
  .main__content__projects-container {
    margin: 5em 1em;
  }
}
@media only screen and (min-width: 768px) {
  .main__content__projects-container {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .main__content__projects-container {
    margin: 8em 1em;
  }
}
.main__content__projects__logo-container {
  margin: 3em auto;
}
@media only screen and (min-width: 768px) {
  .main__content__projects__logo-container {
    grid-template-columns: repeat(2, auto);
    width: 48%;
    order: 2;
  }
}
.main__content__projects__link {
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.main__content__projects__logo {
  width: 85%;
  max-width: 150px;
}
@media only screen and (min-width: 1200px) {
  .main__content__projects__logo {
    max-width: 180px;
  }
}
.main__content__projects__logo:hover {
  filter: grayscale(30%);
  transform: scale(107%);
  transition: 0.5s;
  cursor: pointer;
}
.main__content__projects__text {
  font-family: "Roboto Mono", serif;
  font-size: 0.8em;
  line-height: 1.5;
  text-align: center;
  color: rgba(204, 214, 246, 0.8);
  margin: 7em auto 3em auto;
}
@media only screen and (min-width: 600px) {
  .main__content__projects__text {
    font-size: 1rem;
    margin: 5em 2em 3em 2em;
  }
}
@media only screen and (min-width: 768px) {
  .main__content__projects__text {
    font-size: 1rem;
    margin: auto;
  }
}
@media only screen and (min-width: 992px) {
  .main__content__projects__text {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .main__content__projects__text {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 768px) {
  .main__content__projects__text-container {
    margin: auto;
    width: 48%;
    order: 1;
  }
}

.bold {
  font-weight: 700;
  color: rgba(100, 255, 218, 0.8);
}

.hide {
  visibility: none;
}

.skill__description__text {
  display: block;
  margin-top: 5%;
  font-weight: 700;
  text-decoration: underline;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
}
.footer::before {
  content: "";
  display: block;
  position: relative;
  width: 98%;
  height: 2px;
  margin: 0 auto;
  background-color: rgba(100, 255, 218, 0.3);
}
.footer__content__text {
  font-family: "Roboto Mono", serif;
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: rgb(100, 255, 218);
  margin: 1em;
}
@media only screen and (min-width: 600px) {
  .footer__content__text {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .footer__content__text {
    font-size: 1.2rem;
  }
}
.footer__content__contact {
  display: flex;
  justify-content: center;
  margin: 2em 0em;
  padding: 0 2em;
}
@media only screen and (min-width: 1400px) {
  .footer__content__contact {
    position: fixed;
    top: 300px;
    left: 12px;
    padding: 0;
    width: 55px;
    flex-direction: column;
    border: 1px solid rgba(100, 255, 218, 0.3);
    border-radius: 4px;
    background-color: rgb(10, 25, 47);
  }
}
.footer__content__contact__link {
  display: flex;
  justify-content: center;
}
.footer__content__contact__icon {
  width: 35%;
  max-width: 100px;
}
@media only screen and (min-width: 992px) {
  .footer__content__contact__icon {
    max-width: 120px;
  }
}
@media only screen and (min-width: 1400px) {
  .footer__content__contact__icon {
    width: 100%;
    padding: 15px 10px;
  }
}
.footer__content__contact__icon:hover {
  filter: grayscale(90%);
  transform: scale(105%);
  transition: 0.5s;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
